<div class="grid p-5">
    <h2 class="text-2xl pb-4">Profissionais</h2>

    <form [formGroup]="formProfissionais">
        <div formArrayName="profissionais">
        @for (grupo of profissionaisFormArray.controls; track grupo.value.id; let i = $index) {
            <app-profissional-item [formGroup]="grupo" (remover)="removerCampo(i)"></app-profissional-item>
        }
        </div>
    </form>

     <div class="flex justify-end gap-2">
        <button matButton="elevated" (click)="adicionarCampo()">Adicionar</button>
        <button matButton="elevated" (click)="salvarProfissionais()">Salvar</button>
    </div>
</div>
