<div class="grid p-5">
    <h2 class="text-2xl pb-4">Materiais</h2>
    <div class="grid grid-cols-4 gap-4 items-end">
        <mat-form-field class="col-span-3 w-full">
            <mat-label>Porcelanato</mat-label>
            <input matInput/>
        </mat-form-field>

        <mat-form-field class="col-span-1 w-full">
            <mat-label>m2</mat-label>
            <input matInput />
        </mat-form-field>
    </div>

    <div class="grid grid-cols-4 gap-4 items-end">
        <mat-form-field class="col-span-3 w-full">
            <mat-label>Revestimento</mat-label>
            <input matInput />
        </mat-form-field>

        <mat-form-field class="col-span-1 w-full">
            <mat-label>m2</mat-label>
            <input matInput />
        </mat-form-field>
    </div>

    <div class="grid grid-cols-4 gap-4 items-end">
        <mat-form-field class="col-span-3 w-full">
            <mat-label>Placa de Gesso</mat-label>
            <input matInput />
        </mat-form-field>

        <mat-form-field class="col-span-1 w-full">
            <mat-label>m2</mat-label>
            <input matInput />
        </mat-form-field>
    </div>


        <div class="grid grid-cols-4 gap-4 items-end">
        <mat-form-field class="col-span-3 w-full">
            <mat-label>Argamassa</mat-label>
            <input matInput />
        </mat-form-field>

        <mat-form-field class="col-span-1 w-full">
            <mat-label>kg</mat-label>
            <input matInput />
        </mat-form-field>
    </div>

</div>
