    <div class="grid grid-cols-4 gap-4 items-end">
        <mat-form-field class="col-span-3 w-full">
            <mat-label>Piso</mat-label>
             <mat-select [value]="'option1'">
                <mat-option>None</mat-option>
                <mat-option value="option1">Piso</mat-option>
                <mat-option value="option2">Parede</mat-option>
                <mat-option value="option3">Teto</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="col-span-1 w-full">
            <mat-label>m2</mat-label>
            <input matInput />
        </mat-form-field>
    </div>
