<!--     <div class="grid grid-cols-4 gap-4 items-end">
        <mat-form-field class="col-span-2 w-full">
            <mat-label>Nome</mat-label>
            <input matInput value="{{nome}}"/>
        </mat-form-field>

        <mat-form-field class="col-span-1 w-full">
            <mat-label>unidade</mat-label>
            <input matInput value="{{unidade}}"/>
        </mat-form-field>

        <mat-form-field class="col-span-1 w-full">
            <mat-label>R$</mat-label>
             <span matSuffix>/{{unidade}}</span>
            <input matInput />
        </mat-form-field>
    </div> -->
<div class="grid grid-cols-4 gap-4 items-end">
  <mat-form-field class="col-span-2 w-full">
    <mat-label>Nome</mat-label>
    <input
        #nomeInput
        matInput
        [value]="material.nome"
        (input)="material.nome = nomeInput.value"/>
  </mat-form-field>

  <mat-form-field class="col-span-1 w-full">
    <mat-label>Unidade</mat-label>
    <input
        #unidadeInput
        matInput
        [value]="material.unidade"
        (input)="material.unidade = unidadeInput.value"/>
  </mat-form-field>

  <mat-form-field class="col-span-1 w-full">
    <mat-label>R$</mat-label>
    <span matSuffix>/{{material.unidade}}</span>
    <input
        #valorInput
        matInput
        type="number"
        [value]="material.valor"
        (input)="material.valor = +valorInput.value"/>
  </mat-form-field>
</div>
